@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

img {
  max-width: 100%;
}