@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 480px;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}