.icon {
    border-radius: 50%;
    border: 2px solid rgba(236, 242, 248, .5);
    height: 30px;
    width: 30px;
}

.icon-violet {
    border-radius: 50%;
    border: 2px solid $moderate-violet;
    height: 30px;
    width: 30px;
}